---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$icon-font-path:      "../fonts/bootstrap";
$fa-font-path:        "../fonts/fontawesome";


@import "bootswatch-varaibles";
@import "bootstrap-sass/bootstrap";
@import "_bootswatch";
@import "fontawesome/font-awesome";
@import "utility-classes";

// Local Variables //
$bg-black-background: #232323;
$bg-black-color: #acacac;
$bg-black-headings-color: #FFFFFF;

$bg-white-button: #FFFFFF;


@function button-text-color($color) {
  @if (lightness($color) > 60) {
    @return  $brand-primary;
  }
  @else {
    @return #FFFFFF;
  }
}

// fix bootstrap bug
body {
  overflow-x: hidden;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color:	$brand-primary;
  font-weight: 400;
}


.page-content {
	margin-top: 40px;
}

.bg-brand-primary {
	background: $brand-primary;
	color: button-text-color( $brand-primary );

	.btn-default {
		background: $bg-white-button;
		border-color: $bg-white-button;
		color: button-text-color( $bg-white-button );
	}

	.btn-default:active:focus {
		background: $bg-white-button;
		border-color: $bg-white-button;
		color: button-text-color( $bg-white-button );
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: button-text-color( $brand-primary );
	}

}


.hero {
	height: 100%;
	//background-image: url('/assets/images/banner.jpg');
	background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: white;

    .navbar-inverse, 
    .navbar-nav>.active>a, 
    .navbar-inverse .navbar-nav>li>a:hover, 
    .navbar-inverse .navbar-nav>li>a:focus{
    	background: transparent;
    	border-color: transparent;
    }

    h1 {
    	color: #FFFFFF;
    	font-size: 30px;
    	font-weight: 500;
    }

    .lead {
    	font-size: 18px;
    }

    &-text {
    	background: transparentize($brand-primary, .15);
	    margin: 30% 0 30% 0;
		padding: 20px 40px 40px 40px;

    	.btn-default {
			background: $bg-white-button;
			border-color: $bg-white-button;
			color: button-text-color( $bg-white-button );
		}

	.btn-default:active:focus {
			background: $bg-white-button;
			border-color: $bg-white-button;
			color: button-text-color( $bg-white-button );
		}
    }
}

.second-section {
	background-image: url('/assets/images/man_talking.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 550px;

    p {
    	font-size: 16px;
    	line-height: 1.8;
    }
}

.bg-black-background {
	background: $bg-black-background;
    color: $bg-black-color;

    h1, 
    h2, 
    h3, 
    h4, 
    h5,
    h6 {
    	color: $bg-black-headings-color;
    }

    a {
    	color: $bg-black-color;
    }

    hr {
    	border-top: 1px solid $bg-black-color;
    }
}

.services-box {
	padding: 60px 80px;
    margin: 20px 0 30px 0;

    &:hover{
    	-webkit-transition: all 0.8s ease-out;
	    -moz-transition: all 0.8s ease-out;
	    -ms-transition: all 0.8s ease-out;
	    -o-transition: all 0.8s ease-out;
	    transition: all 0.8s ease-out;
	    transform: scale(1.08);
    }

	&-blue {

		background: $brand-primary;
		color: button-text-color( $brand-primary );

		h1,
		h2,
		h3,
		h4,
		h5, 
		h6 { 
			font-weight: 500;
		}


	}

	&-white {
		background: $bg-white-button;
		
		h1,
		h2,
		h3,
		h4,
		h5, 
		h6 { 
			color: $gray-dark;
			font-weight: 500;
		}
	}
}

.service-features {
	overflow: hidden;
    background: white;
 
    &-tabs {
    	padding-left: 16%;
    	padding-right: 4%;
    }

    &-bg-brand {
    	background: $brand-primary;
    }

    .list-group-item:first-of-type {
    	border-top: 2px solid #eee;
    }

    .list-group-item {
    	padding: 30px 30px;
    	border-bottom: 2px solid #eee;
    	border-right: none;
    	border-left: none;
    	border-top: none;

    	i.fa {
    		margin-top: 8px;
    	}

    	&:hover {
    		background-color: #f7f5f5;
    	}

    	a {
    		color: $gray-dark;

    		&:focus {
	    		text-decoration: none;
	    	}

	    	&:hover {
	    		text-decoration: none;
	    	}
    	}

    	.fa-3x {
    		margin-bottom: 50px;
    	}
    }


    .list-group-item.active {
    	background-color: $bg-white-button;

    	a {
    		color: $gray-dark;
    	}

    	i {
	    	color: $brand-primary;
	    }

    	&:hover {
    		text-decoration: none;
    	}

    	&:focus {
    		text-decoration: none;
    	}
    }


    .feature-tab {
    	background-position: 0% 0%;
	    background-repeat: no-repeat;
	    height: 750px;
	    background-size: initial;
	    background-origin: content-box;
	    padding: 0px;
	    margin-left: -15px;
	    padding-top: 60px;

    }

    .feature-1 {
		background-image: url('/assets/images/quality_assurance.jpg');
    }
    .feature-2 {
    	background-image: url('/assets/images/quality_assurance_2.jpg');
    }
    .feature-3 {
    	background-image: url('/assets/images/quality_assurance_3.jpg');
    }

    
}



.fith-section {
	background-image: url('/assets/images/using_ipad.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 450px;
    color: button-text-color( $brand-primary );

    &-text {
    	background: transparentize($brand-primary, .15);
	    margin: 30% 0 30% 0;
		padding: 20px 40px 40px 40px;
    }

    h1,
	h2,
	h3,
	h4,
	h5, 
	h6 { 
		color: button-text-color( $brand-primary );
		font-weight: 500;
	}

}

.blog-posts {
	a {
		color: $gray-dark;

		&:focus {
    		text-decoration: none;
    	}

    	&:hover {
    		text-decoration: none;
    	}
	}

	h4 {
		color: $gray-dark;
		font-weight: 500;
	}
}


.hr-fat {
	border-top: 2px solid #e6e6e6;
}

.partner-logo-container {
	width: 14%;
    display: inline-block;
    text-align: center;
}

/* ------- pagination -------- */

.pagination {
  height: 36px;
}

.pagination ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.pagination li {
  display: inline;
}

.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination a:hover, .active a {
  background-color: whiteSmoke;
}

.disabled a, .disabled a:hover,
.active a, .active a:hover {
  color: #999;
  cursor: default;
}

.disabled a:hover {
  background-color: transparent;
}