---
layout: blank
title: Features
hero-background: '/assets/images/features-banner.jpg'
hero-title: 'Your one-stop shop for <br> computer-based telephony services.'
hero-content-left: 'Triangle Connect is a complete solution for computer-based telephony services in call centers for both inbound and outbound campaigns. Whether you’re looking to make an existing call center more profitable and efficient or you’re searching for a partner who can take the worry out of customer service completely, Triangle Connect is here to answer the call.'
hero-content-right: 'With comprehensive call center services featuring uptime guarantees and redundancy plans to a modern platform for computer-based telephony systems—we have everything you need to harness the power of your valuable data, future-proof your business and ensure quality customer service across the board.'
---
<header class="hero" style="background-image: url('{{ page.hero-background }}');">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/assets/images/triangle-connect-logo-white.png" alt="{{ site.title }}" /></a>
      </div>
      {% include nav-main.html %}
    </div>
  </nav>
  <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center p-80">
            <h1>{{ page.hero-title }}</h1>
        </div>
      </div>
  </div>
  <div class="container">
    <div class="row hero-row">
      <div class="col-md-6">
        {{ page.hero-content-left }}
      </div>
      <div class="col-md-6">
        {{ page.hero-content-right }}
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="row m-t-20">
      <div class="col-md-8 col-md-offset-2 text-center p-40">
        <h2>Outbound Calls</h2>
        <p>Our outbound call solution offers the automation, detection and ease of use you expect from modern call center software—plus innovative features like real-time and historical analytics, list management with scrubbing and simple integration with Triangle CRM. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <img src="/assets/images/outboundcalls.png" class="img-responsive" alt="" />
        <div class="row m-t-40 m-b-60">
          <div class="col-md-4">
            <ul>
              <li>Agent commission structures</li>
              <li>Agent scripting</li>
              <li>Answering machine detection</li>
              <li>Automated dialer</li>
              <li>Power dialer</li>
              <li>Predictive dialer</li>
              <li>Preview dialer</li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
               <li>Progressive dialer</li>
               <li>Call dispositions</li>
               <li>Call monitoring and coaching</li>
               <li>Call quality monitoring</li>
               <li>Call recording</li>
               <li>Campaign management</li>
               <li>CTI screen pop</li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Day of week rules dialing</li>
              <li>List management with scrubbing</li>
              <li>Local Connect</li>
              <li>Integration with Triangle CRM</li>
              <li>Real-time and historical analytics</li>
              <li>Time zone rules dialing</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-black-background">
  <div class="container">
    <div class="row m-t-20">
      <div class="col-md-8 col-md-offset-2 text-center p-40">
        <h2>Inbound Calls</h2>
        <p>Inbound customer services calls have never been simpler to manage. With Triangle Connect’s inbound call solution, you can route important calls to agents with the highest customer service scores, make informed decisions with real-time analytics and integrate with Triangle CRM and IVR in a flash.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <img src="/assets/images/inboundcalls.png" class="img-responsive" alt="" />
        <div class="row m-t-40 m-b-60">
          <div class="col-md-4">
            <ul>
              <li>ACD with skills-based call routing</li>
              <li>Agent commission structures</li>
              <li>Agent to agent transfer</li>
              <li>Automated messaging</li>
              <li>Call dispositions</li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Call monitoring and coaching</li>
              <li>Call quality monitoring</li>
              <li>Callback queue</li>
              <li>Campaign management</li>
              <li>CTI screen pop</li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li>Integration with Triangle CRM</li>
              <li>IVR integration</li>
              <li>Real-time and historical analytics</li>
              <li>Score-based call routing</li>
              <li>Web callback</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row m-t-60">
      <div class="col-md-5 col-md-offset-1 m-t-20 p-r-40">
        <h2>Local Connect</h2>
        <p>When it comes to outbound calls, answer rates are higher and marketing campaigns are more successful when the number that appears on the lead’s caller ID is from a local area code. Our  Outbound Campaigns and our Local Connect features ensure that your ANI is shown as a local telephone number—giving added credibility to your sales team and your business.</p>
      </div>
      <div class="col-md-6">
        <img src="/assets/images/localconnect.png" alt="" />
      </div>
    </div>
  </div>
</section>
{% include footer-cta-section.html %}

{% include footer.html %}