---
layout: blank
hero-background: '/assets/images/banner.jpg'
---
<header class="hero" style="background-image: url('{{ page.hero-background }}');">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/assets/images/triangle-connect-logo-white.png" alt="{{ site.title }}" /></a>
      </div>
      {% include nav-main.html %}
    </div>
  </nav>
  <div class="row">
      <div class="col-md-4 col-md-offset-6">
        <div class="hero-box editable">
          <h1>Modern technology for modern marketing</h1>
          <p class="lead">Make data-driven decisions for the future of your business.</p>
          <a href="#" class="btn btn-default">Get started</a>
        </div>
      </div>
  </div>
</header>
<section class="second-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1 m-t-120 editable">
        <h3>Greater visibility for greater success</h3>
        <p>Your call center has so many moving parts, that it can be difficult to keep an eye on everything from agent performance and customer service calls to sales metrics and issues with your network.</p>
        <p>With Triangle Connect, you get real insight into every aspect of your marketing call center—through powerful analytics, real-time data visualizations and customizable software that lets you focus on what matters most for your business.</p>
      </div>
    </div>
  </div>
</section>
<section class="bg-black-background">
  <div class="container">
    <div class="row m-t-40 m-b-40">
      <div class="col-md-12 text-center">
        <h3>We've got you covered</h3>
      </div>
    </div>
    <div class="row m-b-50">
      <div class="col-md-6">
        <div class="services-box services-box-blue text-center editable">
            <img src="/assets/images/triangle-connect_white.png" class="m-b-20" alt="triangle connect services" />
            <h4>Triangle Connect</h4>
            <p>Customize our modern platform to track what matters most for your unique business.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="services-box services-box-white text-center editable">
            <img src="/assets/images/callcenter-serviecs_dark.png" class="m-b-20" alt="triangle call center services" />
            <h4>Call Center Services</h4>
            <p>Enhance your customer experience and save time with our team of experts on your side.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="service-features">
    <div class="row">
      <div class="col-md-6 service-features-tabs p-t-80 editable">
          <h3>A better experience for your customers <em>and</em> your staff</h3>
          <div class="">
            <ul class="list-group m-t-40">
              <li class="list-group-item active" role="presentation">
                <a href="#feature-1" data-toggle="tab">
                  <i class="fa fa-angle-right fa-3x pull-right"></i>
                  <i class="fa fa-search fa-3x pull-left"></i>
                  <p><strong>Quality Assurance</strong><br>Easily search for and retrieve call data including frequency, agent performance and customer sentiment.</p>
                </a>
              </li>
              <li class="list-group-item" data-toggle="tab">
                <a href="#feature-2" data-toggle="tab">
                  <i class="fa fa-angle-right fa-3x pull-right"></i>
                  <i class="fa fa-desktop fa-3x pull-left"></i>
                  <p><strong>Valuable Marketing Insights</strong><br>Set up custom KPIs to track call center performance with real-time analytics.</p>
                </a>
              </li>
              <li class="list-group-item" data-toggle="tab">
                <a href="#feature-3" data-toggle="tab">
                  <i class="fa fa-angle-right fa-3x pull-right"></i>
                  <i class="fa fa-area-chart fa-3x pull-left"></i>
                  <p><strong>Simplified Financials</strong><br>Customize base pay, commission and bonus structures per agent profile and call center.</p>
                </a>
              </li>
            </ul>
          </div>
      </div>
      <div class="col-md-6 service-features-bg-brand">
        <div class="tab-content">
            <div class="tab-pane active" id="feature-1" role="tabpanel">
              <div class="feature-tab feature-1">
              </div>
            </div>
            <div class="tab-pane fade" id="feature-2" role="tabpanel">
              <div class="feature-tab feature-2">
              </div>
            </div>
            <div class="tab-pane fade" id="feature-3" role="tabpanel">
              <div class="feature-tab feature-3">
              </div>
            </div>
        </div>
      </div>
    </div>
  
</section>
<section class="fith-section">
  <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-7">
          <div class="fith-section-text editable">
              <h3>Simplifying your business doesn’t have to be complicated</h3>
              <p>Let Triangle Connect show you how easy it can be to transform your business with tailored technology solutions.</p>
          </div>
        </div>
      </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row p-t-60">
      <div class="col-md-12 text-center editable">
        <h3>The Triangle Connect Blog</h3>
      </div>
    </div>
      <div class="row p-t-60 p-b-60">
        {% for post in site.posts %}
          <div class="col-md-4 blog-posts">
            <a href="{{ post.url }}">
              <div class="panel panel-default">
                <img src="{{ post.image }}" class="img-responsive" alt="{{ post.title }}" />
                <div class="panel-body">
                  <h4>{{ post.title }}</h4>
                  {{ post.excerpt | truncatewords: 30 }}
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
    </div>
    <!-- <div class="row p-b-80">
      <hr class="hr-fat m-b-50">
      <div class="partner-logo-container">
        <img src="/assets/images/partners/logo_yahoo.png" />
      </div>
      <div class="partner-logo-container">
        <img src="/assets/images/partners/logo_skype.png" />
      </div>
      <div class="partner-logo-container">
        <img src="/assets/images/partners/logo_intel.png" />
      </div>
      <div class="partner-logo-container">
        <img src="/assets/images/partners/logo_ubuntu.png" />
      </div>
      <div class="partner-logo-container">
        <img src="/assets/images/partners/logo_google.png" />
      </div>
      <div class="partner-logo-container">
        <img src="/assets/images/partners/logo_bing.png" />
      </div>
      <div class="partner-logo-container">
        <img src="/assets/images/partners/logo_ubuntu.png" />
      </div>
    </div> -->
  </div>
</section>
{% include footer-cta-section.html %}

{% include footer.html %}