---
layout: blank
---
<header class="hero">
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/images/triangle-connect-logo-white.png" alt="{{ site.title }}" /></a>
        </div>
        {% include nav-main.html %}
      </div>
    </nav>

    <div class="row">
        <div class="col-md-4 col-md-offset-6">
          <div class="hero-text">
            <h1>Modern Technology for modern marketing</h1>
            <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
            <a href="#" class="btn btn-default">Contact us today to get started.</a>
          </div>
          
      </div>
        </div>
    </div>
</header>
<section class="second-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1 m-t-120">
        <h3>Donec eu libero sit amet quam egestas</h3>
        <p>Your call center has so many moving parts, that it can be difficult to keep an eye on everything from agent performance and customer service calls to sales metrics and issues with your network.</p>

        <p>With Triangle Connect, you get real insight into every aspect of your marketing call center—through powerful analytics, real-time data visualizations and customizable software that lets you focus on what matters most for your business.</p>
      </div>
    </div>
  </div>
</section>
<section class="bg-black-background">
  <div class="container">
    <div class="row m-t-40">
      <div class="col-md-12 text-center">
        <h3>Lorem ipsum dolor sit amet consetetur sadipscing elitr.</h3>
      </div>
    </div>
    <div class="row m-b-50">
      <div class="col-md-6">
        <div class="services-box services-box-blue text-center">
            <h4>Triangle Connect</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="services-box services-box-white text-center">
            <h4>Call Center Services</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="service-features">
    

    <div class="row">
      <div class="col-md-6 service-features-tabs p-t-60">
          <h3>Lorem ipsum dolor sit amet, consetetur sadipscing</h3>
          <div class="">
            <ul class="list-group m-t-40">
              <li class="list-group-item">
                <i class="fa fa-angle-right fa-3x pull-right text-primary"></i>
                <i class="fa fa-search fa-3x pull-left text-primary"></i>
                <h4>Cras justo odio</h4>
                <p>Lorem ipsum dolor sit amet.</p>

              </li>
              <li class="list-group-item">
                <i class="fa fa-angle-right fa-3x pull-right text-primary"></i>
                <i class="fa fa-desktop fa-3x pull-left text-primary"></i>
                <h4>Cras justo odio</h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </li>
              <li class="list-group-item">
                <i class="fa fa-angle-right fa-3x pull-right text-primary"></i>
                <i class="fa fa-area-chart fa-3x pull-left text-primary"></i>
                <h4>Cras justo odio</h4>
                <p>Lorem ipsum dolor sit amet.</p>
              </li>
            </ul>
          </div>
      </div>
      <div class="col-md-6 service-features-bg-brand">
          <div class="feature-1">
          </div>
      </div>
    </div>
  
</section>
<section class="fith-section">
  <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-7">
          <div class="fith-section-text">
              <h3>Lorem ipsum dolor sit consetetur sadipscing.</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
          </div>
        </div>
      </div>
  </div>
</section>
{% include footer-cta-section.html %}

{% include footer.html %}