---
layout: blank
title: Services
hero-background: '/assets/images/services-banner.jpg'
hero-title: 'Customer service, simplified.'
hero-content: 'Say hello to modern, worry-free call center services.'
---
<header class="hero" style="background-image: url('{{ page.hero-background }}');">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/assets/images/triangle-connect-logo-white.png" alt="{{ site.title }}" /></a>
      </div>
      {% include nav-main.html %}
    </div>
  </nav>
  <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center p-80">
          <h1>{{ page.hero-title }}</h1>
          <p class="lead">{{ page.hero-content }}</p>
      </div>
  </div>
  <div id="services-list-wrapper" class="row services-list-wrapper">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div id="services-navbar" class="">
          <ul class="nav list-unstyled services-hero-list nav-justified">
            <li>
              <a href="#inbound">
                <img src="/assets/images/icons/icon_inbound-outbound-services.png" alt="" />
                <p>Inbound/Outbound Services</p>
              </a>
            </li>
            <li>
              <a href="#qualitycontrol">
                <img src="/assets/images/icons/icon_qualitycontrol.png" alt="" />
                <p>Quality Control</p>
              </a>
            </li>
            <li>
              <a href="#campaignmanagement">
                <img src="/assets/images/icons/icon_campaign-management.png" alt="" />
                <p>Campaign Management</p>
              </a>
            </li>
            <li>
              <a href="#optimization">
                <img src="/assets/images/icons/icon_customer-data-optimization.png" alt="" />
                <p>Customer/Data Optimization</p>
              </a>
            </li>
            <li>
              <a href="#support">
                <img src="/assets/images/icons/icon_email-chat-supprt.png" alt="" />
                <p>Email/Chat Support</p>
              </a>
            </li>
          </ul>  
        </div>
      </div>
    </div>
  </div>
</header>
<div class="scrollspy-example" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
<section id="inbound">
  <div class="container">
    <div class="row p-t-60 p-b-60">
      <div class="col-md-5 col-md-offset-1">
        <h3 class="p-t-20">Inbound/Outbound Services</h3>
        <p class="m-t-20">Whether your service structure relies on inbound calls, outbound calls or both, Triangle Connect can craft a custom solution to handle your customer communications.</p>
      </div>
      <div class="col-md-5 p-l-30">
        <img src="/assets/images/inbound-outbound.png" class="img-responsive" />
      </div>
    </div>
  </div>
</section>
<section id="qualitycontrol">
  <div class="container">
    <div class="row p-t-60 p-b-60">
      <div class="col-md-5 col-md-offset-1">
          <img src="/assets/images/quality-control.png" class="img-responsive" />
      </div>
      <div class="col-md-5 p-l-30">
          <h3 class="p-t-20">Quality Control</h3>
          <p class="m-t-20">When you have insight into how your team of customer service associates is performing, you can provide the very best assistance when your callers need it most.</p>
      </div>
    </div>
  </div>
</section>
<section id="campaignmanagement">
  <div class="container">
    <div class="row p-t-60 p-b-60">
      <div class="col-md-5 col-md-offset-1">
        <h3 class="p-t-20">Campaign Management</h3>
        <p class="m-t-20">Take the hassle out of marketing initiatives with comprehensive call center campaign management services. From marketing strategy to campaign execution, we’ve got you covered.</p>
      </div>
      <div class="col-md-5 p-l-30">
        <img src="/assets/images/campaign-management.png" class="img-responsive" />
      </div>
    </div>
  </div>
</section>
<section id="optimization">
  <div class="container">
    <div class="row p-t-60 p-b-60">
      <div class="col-md-5 col-md-offset-1">
          <img src="/assets/images/customer-data-optimization.png" class="img-responsive" />
      </div>
      <div class="col-md-5 p-l-30">
          <h3 class="p-t-20">Customer/Data Optimization</h3>
          <p class="m-t-20">Provide your customers with a more personalized service experience and get the most out of your business data with modern data optimization solutions from our team of experts.</p>
      </div>
    </div>
  </div>
</section>
<section id="support">
  <div class="container">
    <div class="row p-t-60 p-b-60">
      <div class="col-md-5 col-md-offset-1">
        <h3 class="p-t-20">Email/Chat Support</h3>
        <p class="m-t-20">Today’s customers expect more than one form of communication when it comes to helping them solve their problems. Cater to their needs with our modern Email & Chat Support options.</p>
      </div>
      <div class="col-md-5 p-l-30">
        <img src="/assets/images/email-chat-support.png" class="img-responsive" />
      </div>
    </div>
  </div>
</section>
</div>
{% include footer-cta-section.html %}

{% include footer.html %}