<footer class="footer bg-black-background">

  <div class="container">

    <div class="row p-t-60">
      <div class="col-md-3 col-md-offset-2">
        <h5><strong>{{ site.title }}</strong></h5>
        <p>{{ site.address }}</p>
        <p><strong>Phone:</strong> {{ site.phone }}</p>
      </div>
      <div class="col-md-3">
        <h5><strong>Menu</strong></h5>
        {% include nav-footer.html %}
      </div>
      <div class="col-md-3">
        <h5><strong>Social Media</strong></h5>
        <ul class="list-unstyled fa-ul">
          <li><a href="#facebook"><i class="fa-li fa fa-facebook"></i>Facebook</a></li>
          <li><a href="#twitter"><i class="fa-li fa fa-twitter"></i>Twitter</a></li>
          <li><a href="#gplus"><i class="fa-li fa fa-google-plus"></i>Google Plus</a></li>
          <li><a href="#linkedin"><i class="fa-li fa fa-linkedin"></i>LinkedIn</a></li>
        </ul>
      </div>
    </div>
    
    <div class="row p-t-10 p-b-60">
      <div class="col-md-10 col-md-offset-1 text-center">
        <hr>
        <img src="/assets/images/triangle-connect-logo-white.png" />
        <p>Copyright {{ site.time | date: '%Y' }} {{ site.title }}. All Rights Reserved.</p>
      </div>
    </div>
  </div>

</footer>
